* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    background: rgb(255, 255, 255);
    font-family: 'Cormorant', sans-serif;
}
.box {
    display: flex;
}
.box-intro {
    width: 40%;
    padding: 25px;
    display: flex;
}
.box-intro-items{
    align-self: center;
    margin: auto;
    text-align: center;
}
.box-intro-img {
    width: 60%;
}
.box-intro-text h1 {
    font-weight: 500;
    background: linear-gradient(rgba(100, 100, 100, 0.75),rgba(0, 0, 0, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    padding-bottom: 15px;
}
.box-intro-text p {
    font-size: 26px;
    color: rgb(0, 0, 0);
}
.cta {
    padding: 50px 0px 0px 0px;
}
.cta-link {
    color: rgb(0, 0, 0);
    padding: 20px 80px 20px 80px;
}
.cta-link:hover {
    color: rgb(0, 0, 0);
    padding: 20px 80px 20px 80px;
    text-decoration: none;
}
.cover img {
    width: 100%;
}
.about-me {
    padding: 5vh;
    background: linear-gradient(rgba(255, 255, 255, 0.25),rgba(235, 235, 245, 0.25), rgba(235, 235, 245, 0.5));
}
.about-me h2 {
    font-weight: 500;
    background: linear-gradient(rgba(230, 230, 230, 0.75), rgba(0, 0, 0, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-align: center;
}
.about-me p {
    font-size: 26px;
    color: rgb(0, 0, 0);
    line-height: 40px;
    text-indent: 50px;
    text-justify: auto;
}
.skills {
    box-shadow: 0 -15px 15px -1px rgba(150, 150, 150, 0.175);
}
.skills-list {
    list-style-type: none;
    padding: 25px;
    -webkit-columns: 2;
    margin: 0px;
}  
.skills-list li {
    margin-left: 15px;
    color: rgb(0, 0, 0);
    font-size: 26px;
}
.zoom {
    transition: transform .20s;
    margin: auto;
    text-align: -webkit-center;
    columns: inherit;
    padding: 10px;
    display: inline-grid;
}
.skills h2 {
    font-weight: 500;
    background: linear-gradient(rgba(230, 230, 230, 0.75), rgba(0, 0, 0, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-align: center;
    padding: 25px 0px 10px 0px; 
}
.zoom:hover {
    -ms-transform: scale(1.25); 
    -webkit-transform: scale(1.25); 
    transform: scale(1.25); 
}
.zoom img {
    width: 50px;
    height: 50px;
    display: flex;
}
.box-about {
    width: 50%;
}
.box-skills {
    width: 50%;
}
.experience {
    padding: 5vh;
    background: linear-gradient(rgba(235, 235, 245, 0.5),rgba(235, 235, 245, 0.25),rgba(255, 255, 255, 0.25));
}
.experience h2 {
    font-weight: 500;
    background: linear-gradient(rgba(230, 230, 230, 0.75), rgba(0, 0, 0, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-align: center;
    padding-top: 25px;
}
.experience p {
    font-size: 26px;
    color: rgb(0, 0, 0);
    line-height: 40px;
    text-indent: 50px;
    text-justify: auto;
}
.qa-resp {
    font-size: 26px;
    color: rgb(0, 0, 0);
    line-height: 40px;
    margin-left: 75px;
}
.projects {
    padding: 5vh;
    background: linear-gradient(rgba(225, 225, 230, 0.5), rgba(190, 190, 200, 0.5));
    width: 100%;
    box-shadow: 0 -15px 15px -1px rgba(150, 150, 150, 0.175);
}
.projects h2 {
    font-weight: 500;
    background: linear-gradient(rgba(110, 110, 110, 0.75), rgba(0, 0, 0, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-align: center;
    padding-bottom: 15px;
    padding-top: 25px;
}
.telegram-img,
.python-img {
    margin: auto;
    padding-bottom: 45px;
    width: 60%;
}
.sql-img {
    margin: auto;
    padding-bottom: 38px;
}
.td-truncate {
    font-size: 22px;
}
.list {
    font-size: 22px;
    margin-left: 10%;
}



@media screen and (max-width: 1024px) {
	.presentation {
		flex-direction: column;
	}
	.box {
        text-align: center;
        display: list-item;
    }
    .box-intro {
        width: 100%;
        margin: auto;
        background: rgba(250, 250, 250, 0.75);
    }
	.box-intro-text h1 {
		font-size: 30px;
	}
	.box-intro-text p {
		font-size: 18px;
	}
	.cta {
		padding: 10px 0px 0px 0px;
    }
    .box-intro-img {
        width: 100%;
    }
	.cover img {
        height: auto;
    }
    .box-about{
        display: none;
    }
    .box-skills{
        width: auto;
    }
    .table {
        text-align: left;
    }
    table tr td:nth-child(3) {
        display: none;
    }
}